{% extends "intros/email/_shell.html" %}
{% block body %}
  <strong>{{ intro.from_user.full_name|default:"Someone" }}</strong> would like an
  introduction about
  {% if intro.vehicle_listing %}your {{ intro.vehicle_listing.title }} in
    {{ intro.vehicle_listing.suburb.name }}{% else %}your driver listing{% endif %}.
  <br><br>
  <em>{{ intro.message }}</em>
  <br><br>
  You decide. Nothing about either of you is shared until you approve.
{% endblock %}
{% block cta %}Read it and decide{% endblock %}
{% block footer %}
  If you do nothing, it closes itself on {{ intro.expires_at|date:"j M Y" }}.
{% endblock %}
